@import '~@/assets/style/share.scss';

.blog-container {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      height: 59px;
      line-height: 59px;
      color: $parent-title-color;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .blog-content {
    padding: 0 30px;
  }
}